@import "my_variables.scss", "typography.scss";

// resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// commons //

li {
    list-style: none;
}
a {
    text-decoration: none;
}

// end commons //

// Header //

header {
    background-color: pink;
    margin-bottom: 20px;
    padding: 20px;
}

// end header //

main {
    background-color: #fafafa;
    img {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .cards {
        margin: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 32%);
        column-gap: 15px;
        row-gap: 20px;
        .card {
            padding: 35px;
            max-height: 400px;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 10px;
            aspect-ratio: 1.2;
            transition: transform 0.3s;
            -webkit-box-shadow: 5px 5px 3px -3px #000000;
            box-shadow: 5px 5px 3px -3px #000000;

            &:hover {
                transform: translateY(-8px);
            }
            & .icons {
                display: flex;
                justify-content: space-between;
                & .icon-left {
                    display: grid;
                    place-items: center;
                    flex-shrink: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    background-color: $blue-lagoon;
                    color: $fountain-blue;
                }
                .icon-right {
                    display: grid;
                    place-items: center;
                    width: 30px;
                    height: 30px;
                    color: $fountain-blue;
                    transition: 0.3s ease-in-out;
                    & a {
                        color: $fountain-blue;
                    }
                    &:hover {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        color: $smalt-blue;
                        border-radius: 50%;
                        background-color: $blue-lagoon;
                    }
                }
            }
            & h4 {
                color: black;
                margin: 15px 0px;
                text-align: center;
            }
            & p {
                color: black;
                font-size: 0.85rem;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}
